<div class="container" ng-controller="MainCtrl">
    <div class="row row-content">
        <div ng-if="!showCurrent">
            <h3>{{message}}</h3>
        </div>
        <div class="col-xs-12" ng-if="showCurrent">
            <h2>Right now</h2>
            <ul class="tab-pane fade in active">
                <div class="row" ng-repeat="sensor in reading.sensors">
                    <div class="row">
                        <h3>{{sensor.sensor}}</h3>
                        <h5>Temperature: {{ sensor.temp }} °C</h5>
                        <h5>Wind Speed: {{ sensor.wind }} km/hr</h5>
                        <h5>Cloud Cover: {{ sensor.cloud}} %</h5>
                        <h5>Humidity: {{ sensor.hum }} %</h5>
                        <h5>Atmospheric Pressure: {{ sensor.pressure }} mBar</h>
                        <h5>Precip Intensity: {{ sensor.precip || '0.0'}} cm/hr</h5>
                    </div>
                </div>
            </ul>
        </div>
        <div class="col-sm-3 col-sm-push-9">
            <p> @ {{reading.date | date:'yyyy-MM-dd HH:mm:ss' }}</p>
        </div>
    </div>
</div>
