<div class="container" ng-controller="MainCtrl">
    <div class="row row-content">
        <div ng-if="!showCurrent">
            <h3>{{message}}</h3>
        </div>
        <div class="col-xs-12" ng-if="showCurrent">
            <h2>Real time conditions</h2>
            <ul class="tab-pane fade in active">
                <div class="row" ng-repeat="sensor in reading.sensors">
                    <div class="row">
                        <h3>{{sensor.sensor}}</h3>
                        <h4>Temperature: {{ sensor.temp.toFixed(1) }}°C</h4>
                        <h4>Humidity: {{ sensor.hum.toFixed(1)}}%</h4>
                    </div>
                </div>
            </ul>
        </div>
        <div class="col-sm-3 col-sm-push-9">
            <p> @ {{reading.date | date:'yyyy-MM-dd HH:mm:ss' }}</p>
        </div>
    </div>
</div>
