<div class="container" ng-controller="MainCtrl">
    <div class="row row-content">
        <div ng-if="!showCurrent">
            <h3>{{message}}</h3>
        </div>
        <div class="col-xs-12" ng-if="showCurrent">
            <h2>Right now</h2>
            <ul class="tab-pane fade in active">
                <div class="row" ng-repeat="sensor in reading.sensors">
                    <div class="row">
                        <table class="table">
                            <h3>{{sensor.sensor}}</h3>
                            <tbody>
                                <tr>
                                    <td>Summary:</td>
                                    <td>{{sensor.summary}}</td>
                                </tr>
                                <tr>
                                    <td>Summary:</td>
                                    <td>{{sensor.icon}}</td>
                                </tr>
                                <tr>
                                    <td>Temperature:</td>
                                    <td>{{sensor.temp}} °C</td>
                                </tr>
                                <tr>
                                    <td>Wind speed:</td>
                                    <td> {{sensor.wind}} km/hr</td>
                                </tr>
                                <tr>
                                    <td>Cloud cover:</td>
                                    <td> {{sensor.cloud}} %</td>
                                </tr>
                                <tr>
                                    <td>Humidity:</td>
                                    <td> {{sensor.hum}} %</td>
                                </tr>
                                <tr>
                                    <td>Atmospheric pressure:</td>
                                    <td> {{sensor.pressure}} mBar</td>
                                </tr>
                                <tr>
                                    <td>Precip probablity:</td>
                                    <td>{{sensor.precipProb}} %</td>
                                </tr>
                                <tr>
                                    <td>Precip intensity:</td>
                                    <td>{{sensor.precip}} mm/hr</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </ul>
        </div>
        <div class="col-sm-3 col-sm-push-9">
            <p> @ {{reading.date | date:'yyyy-MM-dd HH:mm:ss' }}</p>
        </div>
    </div>
</div>
